* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #310e68;
  background-image: linear-gradient(
    316deg,
    rgba(49, 14, 104, 0.2) 0%,
    #5f0f40 74%
  );
}

nav {
  background-color: #171717;
  text-align: center;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  width: 150px;
  margin: 15px;
  margin-top: 0px;
  padding: 15px;
}

nav ul li a {
  color: rgb(222, 212, 231);
  text-decoration: none;
  display: block;
  position: absolute;
}

nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: rgba(23, 23, 23, 0.8);
  margin-top: 15px;
  margin-left: -38px;
}

nav ul li .sub-menu-1 {
  display: none;
}
nav ul li .sub-menu-1 ul {
  display: block;
}

nav ul li:hover .sub-menu-1 ul li {
  width: 150px;
  text-align: center;
  border-radius: 10px;
  transition: 0.75;
}
