h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(45deg, turquoise, pink);
  color: bisque;
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 31%,
    rgba(237, 172, 196, 1) 69%,
    rgba(74, 191, 190, 0.5606617647058824) 100%
  );
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(45deg, turquoise, pink);
}
