body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, turquoise, pink);
}

div {
  background-color: rgb(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 50px;
  color: aquamarine;
}

input {
  padding: 15px;
  outline: none;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  padding: 15px;
  background-color: rgb(231, 200, 224);
  width: 100%;
  color: black;
  padding: 15px;
  font-size: 15px;
}

button:hover {
  background-color: rgb(91, 189, 206);
}

